@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

.BitevizeworksArea {
  position: relative;
  background: linear-gradient(180deg, #bad5ff 0%, #e8f1ff 100%);
  padding: 80px 0px;

  .bitwiseWork {
    h2 {
      font-size: 60px;
      color: #000;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      padding-bottom: 40px;
      margin: 0px;

      span {
        font-family: "Yesteryear", cursive;
        color: #ff7821;
        font-weight: 400;
      }
    }
  }

  .WorkBox {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .bookingBox {
    width: 30%;
    .FlightBox {
      margin-bottom: 25px;
    }

    .FlightBox p {
      font-family: "Poppins", sans-serif;
      color: #000;
      font-weight: 400;
      font-size: 18px;
      margin: 0px;
    }
    .browse {
      background: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 24px;
      margin-bottom: 10px;

      h3 {
        margin: 0px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: #000;
      }
      span {
        background: #0063c1;
        color: #fff;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 500;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        margin-right: 16px;
      }
    }
  }

  .sliderBottomTetx {
    padding-bottom: 60px;

    .voucherBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      div {
        border: 1px solid #729ad7;
        border-radius: 100px;
        font-weight: 500;
        font-size: 22px;
        color: #000;
        padding: 8px 27px;
        margin-right: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      .RedBox {
        background: #d40315;
        color: #fff;
        border: 1px solid #d40315;
        position: relative;
      }
      .RedBox::after {
        content: "";
        position: absolute;
        display: block;
        top: 40px;
        left: 0;
        width: 168px;
        height: 176px;
        background: url(../../../public/img/greyArrow.svg);
      }

      span {
        display: inline-flex;
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .WorkBox {
    img {
      width: 520px;
      height: auto;
    }
  }

  .BitevizeworksArea {
    padding: 60px 0px;
    .bookingBox {
      width: 43%;
    }

    .bookingBox {
      .browse h3 {
        font-size: 20px;
      }
    }
    .bitwiseWork {
      h2 {
        font-size: 50px;
        padding-bottom: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .WorkBox {
    img {
      width: 380px;
      height: auto;
    }
  }

  .BitevizeworksArea {
    padding: 55px 0;

    .bitwiseWork {
      h2 {
        font-size: 44px;
        padding-bottom: 30px;
      }
    }

    .sliderBottomTetx {
      padding-bottom: 40px;

      .voucherBox {
        div {
          padding: 8px 18px;
          font-size: 17px;
          margin-right: 10px;
        }
        span {
          width: 30px;
          height: auto;
        }
      }
    }
    .bookingBox {
      width: 54%;
    }
  }
}

@media screen and (max-width: 767px) {
  .BitevizeworksArea {
    padding: 45px 0 30px;

    .sliderBottomTetx {
        padding-bottom: 20px;
      .voucherBox {
        display: block;
       
        div {
          margin-right: 10px;
          padding: 8px 20px;
          font-size: 15px;
          line-height: normal;
          margin-bottom: 10px;
          width: 100%;
          margin-right: 0px;
        }
        img {
          width: 28px;
          height: auto;
        }

        .RedBox::after {
          display: none;
        }
      }
     
    }
    .bookingBox {
      width: 100%;
      .FlightBox{
        margin-bottom: 15px;

        .browse{
            padding: 10px 15px;
            h3{
                font-size: 18px;
            }
        }
      }
    }

    .bitwiseWork {
      h2 {
        font-size: 32px;
        padding-bottom: 20px;
        text-align: center;
      }
    }
  }
  .WorkBox {
    display: none;
  }
}
