@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");

.CounterArea {
  background: linear-gradient(180deg, #bad5ff 0%, #e8f1ff 100%);
  padding: 80px 0px;

  .counterInnerArea {
    border-radius: 24px;
    background: #fff;
    width: 100%;
    padding: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  .CounterText {
    padding-right: 32px;
    h3 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 36px;
      color: #0e1223;

      span {
        font-weight: 300;
      }
    }
    h4 {
      font-family: "Meow Script", cursive;
      color: #063eb0;
      font-size: 56px;
      margin: 0px;
      line-height: 56px;
    }
  }

  .CounterRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
    gap: 24px;
    width: 75%;

    .numberBox {
      text-align: center;
      h2 {
        font-size: 50px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;

        span {
          color: rgba(11, 72, 187, 1);
          font-weight: normal;
          display: inline-block;
          margin-left: 4px;
        }
      }
      h4 {
        font-size: 20px;
        color: #4c453e;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
    }

    div {
      border: 1px solid rgba(76, 69, 62, 0.2);
      border-radius: 16px;
      padding: 24px;

      .numberBox {
        h2 {
          font-size: 64px;
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .CounterArea {
    padding: 60px 0px;

    .CounterText {
      h3 {
        font-size: 32px;
      }
      h4 {
        font-size: 45px;
      }
    }
    .CounterRight {
      .numberBox {
        h2 {
          font-size: 36px;
        }
        h4 {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .CounterArea {
    padding: 60px 0px;

    .CounterText {
      padding-right: 0px;
      h3 {
        font-size: 26px;
      }
      h4 {
        font-size: 35px;
        line-height: normal;
      }
    }
    .CounterRight {
      .numberBox {
        h2 {
          font-size: 36px;
        }
        h4 {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width: 991px) {
  .CounterArea {
    padding: 60px 0px;
    .counterInnerArea{
      padding: 30px;
    }



    .CounterText {
      padding-right: 0px;
      h3 {
        font-size: 22px;
      }
      h4 {
        font-size: 35px;
        line-height: normal;
      }
    }
    .CounterRight {
      gap: 14px;
      .numberBox {
        padding: 15px;

        h2 {
          font-size: 30px;
        }
        h4 {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .CounterArea {
    padding: 40px 0px;

    .CounterText{
      padding: 0px 0px 20px;
    }

    .counterInnerArea{
      text-align: center;
      display: block;

      .CounterRight{
        display: block;
        width: 100%;

        .numberBox{
          width: 100%;
          margin: 0px auto 20px;
          h2{
            font-size: 42px;
          }
          h4{
            font-size: 18px;

          }
        }
      }
    }
  }
}
