.mapSection {
  padding: 60px 0px;
  @media screen and (max-width: 767px) {
    padding: 0px 0px 0px;
  }
  @media only screen and (min-width:768px) and (max-width: 1199px) {
    padding: 40px 0px;
  }
  @media only screen and (min-width:1200px) and (max-width: 1440px) {
    padding: 40px 0px;
  }
  .MapImage{
    padding-top: 16px;
    img{

      width: 100%;
      @media screen and (max-width: 767px) {
        height:300px;
        width: 100%;
      }
      @media only screen and (min-width:768px) and (max-width:991px) {
        height:400px;
        width: 100%;
      }
      @media only screen and (min-width:992px) and (max-width:1199px) {
        height:400px;
        width: 100%;
      }
    }
  }
  .MapBox {
    text-align: center;

    h2 {
      font-size: 48px;
      font-weight: 600;
      color: #101828;
      margin: 0px;
      padding-bottom: 24px;
      font-family: "Poppins", sans-serif;
      @media only screen and (min-width:992px) and (max-width:1199px) {
        font-size: 42px;
      }
      @media only screen and (min-width:768px) and (max-width:991px) {
        font-size: 40px;
        padding-bottom: 20px;
      }
      @media screen and (max-width: 767px) {
        font-size: 32px;
        padding-bottom: 25px;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 767px) {
        display: block;
        margin-left: 10px !important;
      }
      
    }

    ul li span{
        display: inline-block;
        padding-right: 16px;
        @media only screen and (min-width:768px) and (max-width:991px) {
          display: block;
        }

        img{
          @media screen and (max-width: 767px) {
            width: 28px;
            height: 28px;
          }
         
        }
    }

    ul li{
        color: #7D7983;
        font-weight: 500;
        font-size: 20px;
        margin-right: 22px;
        @media screen and (max-width: 767px) {
          font-size: 18px;
          text-align: left;
          margin-right: 0px;
          padding-bottom: 15px;
          display: flex;
        }
        @media only screen and (min-width:992px) and (max-width: 1199px) {
          font-size: 16px;
        }
        @media only screen and (min-width:768px) and (max-width:991px) {
          font-size: 14px;
          width: 33.33%;
        }
    }
  }
}
